.profile-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eef2ff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-left: 12px;
}